# Default values for kommander-operator

replicaCount: 1
kommanderoperator:
  # feature flag to enable declarative upgrade logic in the operator
  useUpgrade: false
  image:
    repository: mesosphere/kommander2-core-installer
    tag:
    pullPolicy: IfNotPresent

kubetools:
  image:
    repository: mesosphere/kommander2-kubetools
    tag:

priorityClassName: "dkp-critical-priority"