.DS_Store
/.local/
/.tmp/

# IDE
.idea/
/hack/release/coverage.out

.envrc
# mesosphere/daggers default output directory
.daggers/

# micellaneous
.envrc

# for updating image licenses
bloodhound
# images.txt
