awscli 2.9.0
flux2 0.36.0 # FREEZE flux upgrade is handled by this script hack/flux/update-flux.sh
github-cli 2.20.2
golang 1.19.3
kustomize 4.5.7
pre-commit 2.20.0
yq 4.30.4
golangci-lint 1.50.1
direnv 2.32.1