---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kubecost-thanos-traefik
  namespace: ${releaseNamespace}
spec:
  dependsOn:
    - namespace: ${releaseNamespace}
      name: kubecost
  chart:
    spec:
      chart: thanos-traefik
      sourceRef:
        kind: HelmRepository
        name: mesosphere.github.io-charts-staging
        namespace: kommander-flux
      version: 0.0.1
  interval: 15s
  install:
    remediation:
      retries: 30
  upgrade:
    remediation:
      retries: 30
  releaseName: kubecost-thanos-traefik
  valuesFrom:
    - kind: ConfigMap
      name: kubecost-thanos-traefik-0.0.1-d2iq-defaults
