apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-forward-auth-mgmt-0.3.14-d2iq-defaults
  namespace: ${releaseNamespace}
data:
  values.yaml: |-
    ---
    priorityClassName: "dkp-critical-priority"
    replicaCount: 1
    image:
      tag: v3.2.1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 200Mi
    service:
      type: ClusterIP
      port: 4181
    traefikForwardAuth:
      enabled: true
      # oidcUri, clientID, clientSecret will be overridden by the TFAController
      oidcUri: "https://dex.${releaseNamespace}.svc.cluster.local:8080/dex"
      clientId: traefik-forward-auth
      clientSecret:
        value: "placeholder"
        valueFrom:
          secretKeyRef: null
      allowedUser:
        valueFrom:
          secretKeyRef: null
      cookieSecure: true
      userCookieName: "kommander_profile_name"
      whitelist: []
      enableRBAC: true
      enableImpersonation: true
      rbacPassThroughPaths:
        - "/dkp/kiali/"
        - "/dkp/kiali/*"
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: kommander-traefik
        ingress.kubernetes.io/protocol: https
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: "${workspaceNamespace}-stripprefixes@kubernetescrd,${workspaceNamespace}-forwardauth@kubernetescrd"
      paths:
        - /_oauth
      hosts:
        - ""
      tls: []
    deploymentAnnotations:
      configmap.reloader.stakater.com/reload: "traefik-forward-auth-mgmt-configmap"
    addonsInitializer: "${initializerImage:=mesosphere/kubeaddons-addon-initializer:v0.8.0}"
