---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    controller: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      controller: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        controller: {{ .Chart.Name }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version }}
        release: {{ .Release.Name }}
        kommander.mesosphere.io/flux-source-controller-ingress-access: "true"
    spec:
      serviceAccountName: {{ .Chart.Name }}-sa
      {{- if .Values.priorityClassName }}
      priorityClassName: "{{ .Values.priorityClassName }}"
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.kommanderoperator.image.repository }}:{{ .Values.kommanderoperator.image.tag }}"
          imagePullPolicy: {{ .Values.kommanderoperator.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
