---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.kommandercore.d2iq.com/aggregate-to-view: "true"
    - matchLabels:
        rbac.kommandercore.d2iq.com/aggregate-to-update: "true"
    - matchLabels:
        rbac.kommandercore.d2iq.com/aggregate-to-admin: "true"
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}-view
  labels:
    rbac.kommandercore.d2iq.com/aggregate-to-view: "true"
rules:
  - apiGroups:
      - dkp.d2iq.io
      - apps.kommander.d2iq.io
      - kommander.mesosphere.io
      - types.kubefed.io
      - helm.toolkit.fluxcd.io
      - kustomize.toolkit.fluxcd.io
      - source.toolkit.fluxcd.io
      - ""
    resources:
      - kommandercores
      - appdeployments
      - clusterapps
      - kustomizations
      - federatednamespaces
      - helmreleases
      - kommanderclusters
      - gitrepositories
      - secrets
      - events
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}-update
  labels:
    rbac.kommandercore.d2iq.com/aggregate-to-update: "true"
rules:
  - apiGroups:
      - dkp.d2iq.io
      - apps.kommander.d2iq.io
      - kustomize.toolkit.fluxcd.io
      - types.kubefed.io
      - kommander.mesosphere.io
    resources:
      - kommandercores
      - kommandercores/status
      - appdeployments
      - kustomizations
      - federatednamespaces
      - kommanderclusters
      - events
    verbs:
      - patch
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}-admin
  labels:
    rbac.kommandercore.d2iq.com/aggregate-to-admin: "true"
rules:
  - apiGroups:
      - dkp.d2iq.io
      - apps.kommander.d2iq.io
      - batch
      - core.kubefed.io
      - helm.toolkit.fluxcd.io
      - types.kubefed.io
      - ""
      - kustomize.toolkit.fluxcd.io
      - apps
      - kommander.mesosphere.io
    resources:
      - kommandercores
      - appdeployments
      - kubefedclusters
      - jobs
      - federatednamespaces
      - helmreleases
      - pods
      - deployments
      - kustomizations
      - kommanderclusters
    verbs:
      - deletecollection
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
---
