---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community.github.io-helm-charts
  namespace: kommander-flux
spec:
  interval: 10m
  timeout: 1m
  url: "${helmMirrorURL:=https://prometheus-community.github.io/helm-charts}"
