---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karma-traefik
  namespace: ${releaseNamespace}
spec:
  chart:
    spec:
      chart: thanos-traefik
      sourceRef:
        kind: HelmRepository
        name: mesosphere.github.io-charts-staging
        namespace: kommander-flux
      version: 0.0.1
  interval: 15s
  install:
    crds: CreateReplace
    remediation:
      retries: 30
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 30
  releaseName: karma-traefik
  valuesFrom:
    - kind: ConfigMap
      name: karma-traefik-0.0.2-d2iq-defaults
