name: "Automerge"
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
    branches:
      - main
      - 'release/*'
    paths:
      - 'services/**/*'
  check_suite:
    types:
      - completed
  workflow_dispatch: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
# disabled for now
#    - name: Enable auto-merge for automated chart bump PRs
#      id: automerge
#      if: |
#        startsWith(github.head_ref, 'chartbump/')
#        && contains(github.event.pull_request.labels.*.name, 'ready-for-review')
#        && !contains(github.event.pull_request.labels.*.name, 'do-not-merge')
#        && !contains(github.event.pull_request.labels.*.name, 'do-not-merge/testing')
#      run: gh pr merge --auto --squash "$PR_URL"
#      env:
#        PR_URL: ${{ github.event.pull_request.html_url }}
#        GITHUB_TOKEN: ${{ secrets.MERGEBOT_TOKEN }}
    - name: Enable auto-merge for ui bump PRs
      id: automerge-ui-bumps
      if: |
        ${{ github.head_ref == 'ci/bump-ui-to-latest-main' }}
        && contains(github.event.pull_request.labels.*.name, 'ready-for-review')
        && !contains(github.event.pull_request.labels.*.name, 'do-not-merge')
        && !contains(github.event.pull_request.labels.*.name, 'do-not-merge/testing')
      run: gh pr merge --auto --squash "$PR_URL"
      env:
        PR_URL: ${{ github.event.pull_request.html_url }}
        GITHUB_TOKEN: ${{ secrets.MERGEBOT_TOKEN }}
