name: Flux Update Schedule Check
on:
  schedule:
    - cron:  '0 12 * * SUN'
  workflow_dispatch: {}

jobs:
  flux-schedule-check:
    if: github.ref == 'refs/heads/main'
    name: Flux Update Schedule Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Checkout kommander code
        uses: actions/checkout@v6
        with:
          repository: mesosphere/kommander
          path: kommander
          token: ${{ secrets.MESOSPHERECI_USER_TOKEN }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_committer_email: ci-mergebot@d2iq.com
          git_committer_name: d2iq-mergebot
          git_commit_gpgsign: true
          git_config_global: true

      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.PRIVATE_SSH_KEY }}

      - name: Install NIX
        uses: cachix/install-nix-action@v31

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          skip-nix-installation: true
          enable-cache: 'false'
          refresh-cli: 'true'

      - name: Check for Flux update
        env:
          GH_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
        run: devbox run -- "make KOMMANDER_REPO_PATH=${GITHUB_WORKSPACE}/kommander make flux-update"
