name: "Pull Request Labeler"
on:
  pull_request:
    types:
      - opened
    branches:
      - main
      - 'release/*'
    paths:
      - 'services/**/*'
  workflow_dispatch: {}

jobs:
  label-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Add service identifying label to PRs updating services
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/service-labeler.yaml"
      - name: Add labels to automated chart bump PRs
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/services-pr-labeler.yaml"
