name: "Pull Request Labeler"
on:
  pull_request:
    branches:
      - main
      - 'release-*'
    paths:
      - 'applications/**/*'
  workflow_dispatch: {}

jobs:
  label-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Add identifying label to PRs updating applications
        uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.MESOSPHERECI_USER_TOKEN }}"
          configuration-path: ".github/app-labeler.yaml"
      - name: Add labels to automated chart bump PRs
        uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.MESOSPHERECI_USER_TOKEN }}"
          configuration-path: ".github/app-pr-labeler.yaml"
