name: Lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on:
    - self-hosted
    - small

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install NIX
        uses: cachix/install-nix-action@v29

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: true
          skip-nix-installation: true

      - name: Run pre-commit
        env:
          MAGEFILE_VERBOSE: true
        run: devbox run -- ./mage lint:precommit
