name: Lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install NIX
        uses: cachix/install-nix-action@v31

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          skip-nix-installation: true
          enable-cache: 'false'
          refresh-cli: 'true'

      - name: Run pre-commit
        run: devbox run -- make pre-commit
