name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  id-token: write

jobs:
  release:
    name: Release
    runs-on:
      - self-hosted
      - medium
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.PRIVATE_SSH_KEY }}

      - name: Install NIX
        uses: cachix/install-nix-action@V28

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: true
          skip-nix-installation: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/kommander-applications
          aws-region: us-west-2

      - name: Extract tag name
        shell: bash
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: make release
        env:
          DOCKER_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          GIT_TAG: ${{ env.GIT_TAG }}
        run: devbox run -- make release

      - name: Release OCI artifact
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: devbox run -- just release-oci ${{ env.GIT_TAG }}
