name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  id-token: write

jobs:
  release:
    name: Release
    runs-on:
      - self-hosted
      - medium
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.PRIVATE_SSH_KEY }}

      - name: Install asdf & tools
        uses: asdf-vm/actions/install@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/kommander-applications
          aws-region: us-west-2

      - name: Extract tag name
        shell: bash
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: make release
        env:
          DOCKER_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: make ci.docker.push RUN_WHAT="GIT_TAG=${{ env.GIT_TAG }} make release"
