name: Go test
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Go Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v1

      - name: Run unit tests
        run: make go-test

      - name: Report Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: hack/release/coverage.out
