name: Check licenses.d2iq.yaml
on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    tags:
      - v*
    branches:
      - main
jobs:
  check-license-yaml:
    runs-on: ubuntu-latest
    name: Check licenses.d2iq.yaml
    env:
      BLOODHOUND_VERSION: v0.8.0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download Bloodhound CLI
        run: |
          curl -fsSL https://downloads.mesosphere.io/dkp-bloodhound/dkp-bloodhound_${BLOODHOUND_VERSION}_linux_amd64.tar.gz | tar xz -O > bloodhound
          chmod +x bloodhound
      - name: Generate image list
        run: |
          ./bloodhound --no-validation --list-images > images.txt
          cat images.txt
      - name: Run validation
        id: validation
        uses: docker://mesosphere/dkp-licenses-cli:licenses-v0.0.8
        with:
          args: validate container-images-mapping --input=images.txt --mapping-file=licenses.d2iq.yaml --check-sources --output-format=terminal
        env:
          GITHUB_TOKEN: "${{ secrets.MERGEBOT_TOKEN }}"
      - name: Read changed images
        with:
          changed-images:"{{ steps.validation.outputs }}"
        run: |
          cat changed-images

      #ToDo get list of changed images from^^^
      #- name: Bump images
        # TO DO: update licenses.d2iq.yaml from given list
