name: Check licenses.d2iq.yaml

permissions:
  contents: write

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
  workflow_dispatch: {}
  push:
    tags:
      - v*
    branches:
      - main
jobs:
  check-license-yaml:
    runs-on: self-hosted-nutanix-docker-large
    name: Check licenses.d2iq.yaml
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install NIX
        uses: cachix/install-nix-action@v31

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          skip-nix-installation: true
          enable-cache: 'false'
          refresh-cli: 'true'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Generate image list
        run: devbox run make list-images && cat images.txt
      - name: Update licenses
        id: updateLicenses
        continue-on-error: true
        if: |
          contains(github.event.pull_request.labels.*.name, 'update-licenses')
        uses: docker://mesosphere/dkp-licenses-cli:licenses-v0.0.13
        with:
          args: >-
            validate container-images-mapping --input=images.txt --mapping-file=licenses.d2iq.yaml
            --check-sources --check-sources-skip-gh-org mesosphere --update-licenses
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Import GPG key
        if: |
          contains(github.event.pull_request.labels.*.name, 'update-licenses')
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
      - name: Commit and push changes
        if: |
          contains(github.event.pull_request.labels.*.name, 'update-licenses')
        run: |
          git config user.email ci-mergebot@d2iq.com
          git config user.name d2iq-mergebot
          git config --global user.signingkey ${{ secrets.MERGEBOT_GPG_KEY_ID }}
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git config --global url."https://oauth2:${GITHUB_TOKEN}@github.com/".insteadOf "https://github.com/"
          git add licenses.d2iq.yaml
          if output=$(git status --porcelain) && [ ! -z "$output" ]; then
            git commit -S -v -m "build: Updated licenses.d2iq.yaml"
            git push --force-with-lease
            gh pr close "$PR_URL"
            gh pr reopen "$PR_URL"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.MESOSPHERECI_USER_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
      - name: Run validation
        run: |
          docker run --rm \
            -e GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            -v "$PWD:/workspace" -w /workspace \
            mesosphere/dkp-licenses-cli:licenses-v0.0.13 \
            validate container-images-mapping \
              --input=images.txt \
              --mapping-file=licenses.d2iq.yaml \
              --check-sources \
              --check-sources-skip-gh-org mesosphere \
              --output-format=github
